*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


body {
    font-family: sans-serif;
}



.title-bar-container { 
background:#007acc;
width: 100%;
height: 150px;
border-radius: 15px;
}

.title-bar {
}

.title-bar ul {
list-style: none;
}

.title-bar li {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 40px;
font-weight: bold;
color: white; 
margin-top: 50px;
margin-right: 15px;
float: right;
}

.logo {
float: right;
width: 75px;
height: 75px;
margin: 34px 10px 0 0;

}
/*=========================navbar===========*/

.navbar-container{
position: absolute;
width: 100%;
margin: 151px 0 0 0;  ;
}

.navbar-content ul{
    list-style-type: none;
    background-color: rgb(71,71,71);
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
}

.navbar-content li {
    text-align: center;
    padding: 10px;
}

.navbar-content a {
text-decoration: none;
color: white;
font-size: 30px;
font-weight: bold;
}

.active {
    background-color: #ff7139 ;
    display: block;
    margin: 0 10px 0 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
}


/*===================BODY CONTENT===========================*/

.resource-container{
    width: 100%;
    height: 200px;
    position: absolute;
    border: black 3px solid;
    border-radius: 15px;
    margin-top: 360px;
    background: rgba(158, 158, 158, 0.178);
}

.resource-paragraph {
    margin-top: 2px;
    height: 150px;
    float: right;
    width: 75%;
   /* border: black 3px solid;*/
    border-radius: 15px;
    text-align: center;
    font-size: 30px;

}

.resource-image {
    /*border: solid black 3px;*/
    border-radius: 15px;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
    margin-top: 20px;
}

.resource-title {
    margin-top: 45px;
    height: 40px;
    float: right;
   /* border: 3px solid black;*/
    width: 75%;
    font-size: 27px;
    text-align: center;
}
 .resource-title a {
     text-decoration: none;
     color: black;
     font-weight: bold;

 }